In [2]:
import pandas as pd
import os
import pyodbc
import sqlalchemy

In [2]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [3]:
from dotenv import load_dotenv

load_dotenv()

connection_string = os.getenv('DB_CONNECTION_STRING')
conn = pyodbc.connect(connection_string)
print("Connection Successful")

Connection Successful

In [4]:
cursor = conn.cursor()

cursor.execute("SELECT * FROM Testing.dbo.Employees")

for row in cursor.fetchall():
    print(row)

(1, 'Abdessamad', 'FR4567666', 190000.0, 'Paris', '336777777')
(2, 'Sara', 'FR6767675', 120000.0, 'Lyon', '33686543')

In [5]:
query = """
SELECT *
FROM Testing.dbo.Employees
"""

employees = pd.read_sql(query, conn)
employees.head()

C:\Users\oo\AppData\Local\Temp\ipykernel_21552\3282435338.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employees = pd.read_sql(query, conn)

   Emp_ID        Name NationalID    Salary Adress      Phone
0       1  Abdessamad  FR4567666  190000.0  Paris  336777777
1       2        Sara  FR6767675  120000.0   Lyon   33686543

In [6]:
conn.close()